@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif; 
  font-size: 16px; 
  line-height: 1.6; 
}
.topo {
  width: 100%;
  height: 80px;
  background-color: #010101;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.conteudo-topo {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #010101;
  position: relative;
}
.conteudo-topo h1 {
  font-size: 1.6rem;
  color: #fff;
  word-spacing: 20px;
  width: 30%;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.conteudo-topo img {
  width: 150px;
  height: 140px;
}
.conteudo-topo::before {
  content: "";
  position: absolute;
  top: 65px;
  width: 100%;
  height: 1px;
  background: linear-gradient(to left, #564d4d, #dfd5d5, #3f3434);
}
/* Oculta o checkbox */
.menu-toggle {
  display: none;
}
label.menu-icon {
  display: none;
}

/* Estilo do ícone do menu hambúrguer  */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin: 20px;
  z-index: 2;
}

.menu-icon span {
  display: block;
  height: 4px;
  background: #7c7979;
  border-radius: 2px;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

/* Transformações quando o menu está ativado */
.menu-toggle:checked + .menu-icon span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-toggle:checked + .menu-icon span:nth-child(2) {
  opacity: 0;
}

.menu-toggle:checked + .menu-icon span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Estilo do menu */
.menu {
  position: relative;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  transform: translateY(0); 
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0; 
  z-index: 1;
  overflow: hidden;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  margin:10px 0; 
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: color 0.3s ease;
  display: block;
  padding:  5px 0;
}

.menu ul li a:hover {
  color: #5bf334;
}

/* Mostrar o menu quando o checkbox estiver marcado */
.menu-toggle:checked ~ .menu {
  transform: translateY(1); 
}

/* seção principal */
.secao-banner {
  width: 100%;
  height: 90vh;
  background-color: #010101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.caixa-logo {
  max-width: 100%;
  min-width: 300px;
  height: 500px;
  background-image: url("./foto-banner-funilaria.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.caixa-titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.titulo {
  font-size: 13rem;
  color: rgb(240, 236, 234);
  text-shadow: 0 0 55px rgb(125, 235, 243);
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}
.orcamento {
  color: #fff;
  background-color: green;
  font-size: 1rem;
  margin-bottom: 50px;
  padding: 10px;
  border-radius: 4px;
}
.orcamento a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
}
.orcamento:hover {
  background-color: #010101;
  box-shadow: inset 0px 0px 15px 15px rgb(7, 255, 7);
}
/* seção sobre */
.container-pagina {
  width: 90%;
  margin: 0 auto;
}
.container-pagina p {
  line-height: 30px;
  font-size: 1.1rem;
}
.container-pagina p::first-letter {
  font-style: italic;
  font-size: 2rem;
  font-weight: 900;
  color: #333;
  float: left;
  margin-right: 0.1em;
  line-height: 0.6;
}
.sobre {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}
.sub-titulo-destaque {
  font-size: 3rem;
  position: relative;
  text-align: center;
  margin: 30px auto;
  font-family: 'Roboto', sans-serif;
}
.sub-titulo-destaque::before {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  top: 60px;
}
#sobre p {
  font-size: 1.1rem;
  margin: 0 auto 20px auto;
  width: 90%;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
}

/* seção serviços */

.servicos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.conteudo-servicos {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
h4,
h5,
h6,
h7 {
  font-size: 2rem;
  margin: 20px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.funilaria-pintura,
.polimento-automotivo,
.polimento-farois {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.box-imagem {
  width: 90%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.233);
  border: 1px solid #cccccc1f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
}
.card-imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.card-imagem p {
  height: auto;

}
.imagem-funilaria,
.imagem-polimento-automotivo,
.imagem-polimento-farois {
    width: 80%; 
    max-height: 70vh; 
    text-align: center;
}
  .imagem-funilaria img,
  .imagem-polimento-automotivo img,
  .imagem-polimento-farois img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    
}

.legenda-imagem {
  padding: 15px;
  background-color: #f8f8f8;
  text-align: justify;
  font-size: 16px;
  color: #333;
  height: 120px;
  width: 80%;
}

.legenda-imagem p {
  font-size: 1rem;
  margin: 0;
  line-height: 1.5;
}

.servicos-adicionais {
  max-width: 700px;
  min-width: 300px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.servicos-adicionais p {
  font-size: 1.1rem;
  color: #333;
}
.box-lista ul {
  color: #000;
  font-family: 'Open Sans', sans-serif; 
  font-size: 1.1rem;
}
.box-lista li {
  margin: 20px 0;
  text-align: start;
}
.atendimento-personalizado {
  width: 95%;
  margin: 0 auto;
}
.atendimento-personalizado p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}
.contato {
  margin: 0 auto;
}
.rota-mapa {
  width: 90%;
  margin: 0 auto;
}
.rota-mapa iframe {
  width: 100%;
  height: 400px;
  margin: 20px auto;
}
.voltarTopo {
  position: fixed;
  bottom: 20%;
  right: 3%;
  display: block;
  background-color: #007bff86;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    opacity 0.3s,
    transform 0.3s;
  z-index: 1;
}
.voltarTopo:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

/* seção rodapé */
.rodape {
  width: 100%;
  height: 150px;
  position: relative;
  background-color: #010101;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; 
  margin-top: auto; /
}

.conteudo-rodape {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.conteudo-rodape img {
  width: 100px;
  height: 100px;
}

.conteudo-rodape p {
  margin: 0;
}
.links-redes-sociais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
}
a .instagram {
  width: 110px;
  height: 110px;
  opacity: 70%;
}
a .instagram:hover {
  transform: rotate(0.1turn);
  opacity: 100%;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: rotate3d(1, 2, 3, 10deg);
}
a .whats {
  height: 75px;
  width: 75px;
  border-radius: 50px;
  opacity: 70%;
}
.whats:hover {
  opacity: 100%;
  transform: rotate(0.1turn);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: rotate3d(1, 2, 3, 10deg);
}
/* media */

@media (max-width: 480px) {
  .topo {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .conteudo-topo {
    display: flex;
  }
  .conteudo-topo h1 {
    font-size: 1rem;
    word-spacing: 7px;
    width: 200px;
  }
  .conteudo-topo img {
    width: 6rem;
    height: auto;
  }
  .conteudo-topo::before {
    content: "";
    position: absolute;
    top: 60px;
    width: 97%;
    height: 1px;
    background: linear-gradient(to left, #564d4d, #dfd5d5, #3f3434);
  }
  label.menu-icon {
  display: block;
  }
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    margin: 20px;
    z-index: 2;
  }
  .menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
  }
  .menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: translateY(-3px) rotate(-45deg);
  }
  .menu {
    position: absolute;
    top: 60px;
    right: 10px; 
    width: 100px; 
    height: auto; 
    background: #3333337e;
    transform: scaleY(0); 
    transform-origin: top; 
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0; 
    z-index: 1;
  }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-toggle:checked ~ .menu {
    transform: scaleY(1);
  }
  /* seção banner */
  .caixa-titulo {
    width: 350px;
  }
  .titulo {
    font-size: 5rem;
  }
  /* seção sobre */

  #sobre {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  /* seção serviços */
  
  .servicos {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.conteudo-servicos {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
h4,
h5,
h6,
h7 {
  font-size: 2rem;
  margin: 20px auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.funilaria-pintura,
.polimento-automotivo,
.polimento-farois {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.box-imagem {
  width: 90%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.233);
  border: 1px solid #cccfcca1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
}
.card-imagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
.card-imagem p {
  height: auto;

}
.imagem-funilaria,
.imagem-polimento-automotivo,
.imagem-polimento-farois {
    width: 90%; 
    height: auto; 
}
  .imagem-funilaria img,
  .imagem-polimento-automotivo img,
  .imagem-polimento-farois img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.legenda-imagem {
  padding: 15px;
  background-color: #f8f8f8;
  text-align: justify;
  font-size: 16px;
  color: #333;
  height: auto;
  width: 90%;
}

.legenda-imagem p {
  margin: 0;
  line-height: 1.3;
}
.servicos-adicionais {
  max-width: 700px;
  min-width: 300px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.atendimento-personalizado {
  width: 95%;
  height: auto;
  margin: 0 auto;
}
/* media footer */
.rodape {
    width: 100%;
    height: 250px;
  }
  .conteudo-rodape {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 16px;
    text-align: center;
  }
  a .whats {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    opacity: 70%;
  }
  .links-redes-sociais {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

/* Media query para telas entre 481px e 1024px (Tablets) */
@media (min-width: 481px) and (max-width: 1024px) {
  .conteudo-topo h1 {
    font-size: 1.7rem;
    word-spacing: 7px;
    width: 300px;
  }
  .menu {
    top: 60px;
    right: 1rem; 
    width: 100px; 
    height: auto;
    background: #3333337e;
    transform: scaleY(0); 
    transform-origin: top;  
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    z-index: 1;
  }
  .voltarTopo {
    bottom: 12%;
  }
}
}